body {
  background-color: e6e6e6;
}

head {}

h1 {
  background-color: lightgrey;
  font-family: "GOST Common", Verdana, sans-serif;
  padding: 20px;
  margin: -10px;
  margin-bottom: 20px;
  font-size: 48px;
  color: #C423D9;
  text-align: center;
}

h2 {
  background-color: lightgrey;
  font-family: "GOST Common", Verdana, sans-serif;
  padding: 20px;
  margin: -10px;
  font-size: 32px;
  color: #C423D9
}

p {
  font-family: "Segoe UI", Verdana, sans-serif;
  font-size: 18px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: -10px;
  padding: 0px;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-family: verdana;
}

li a:hover {
  background-color: #111111;
}

div, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
}

.left {
  float: left;
  text-align: center;
}

.w50 {
  width: 50%;
}

.product {
  width: auto;
  height: 20%;
  margin-bottom: 50%;
}

img {
  height: 100%;
}

video {
  width: 100%;
  margin-bottom: 10%;
}

@font-face {
  font-family: gostCommon;
  src: url(gost-common.ttf);
}
